:host {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

.example-form {
  max-width: 500px;
  justify-content: space-between;
  margin: 0 auto;
}

.mat-form-field {
  width: 60%;
  margin: 15px 0;
}

.mat-label {
  font-weight: bold;
}

/* Style buttons */
button[type="submit"] {
  margin-left: 15%;
}

.mat-error {
  color: #ff0000; /* Red color for error message */
  font-size: 14px; /* Adjust font size as needed */
}

.side-image{
  max-width: 2px !important;
  height: auto !important;
  align-self: flex-start;
  margin-right: 58%; 
}