<div class="card-container">
    <div class="card" [class.show]="showCard === 1">
        <div class="card-content">
            <a href="/getnewsim">
                <img src="https://pbs.twimg.com/media/CsEA9aAWYAAWnxQ?format=jpg&name=small" alt="Recharge"
                    class="card-image">
            </a>
        </div>
    </div>

    <div class="card" [class.show]="showCard === 2">
        <div class="card-content">
            <a href="/recharge">
                <img src="https://sp2cdn-idea-global.zingfront.com/sp_opera/e5c98e9569d8a553d392058ded57ca61.jpg"
                    alt="Jio SIM" class="card-image">
            </a>
        </div>
    </div>

    <div class="card" [class.show]="showCard === 3">
        <div class="card-content">
            <a href="/getnewsim">
                <img src="https://scontent.fbep2-1.fna.fbcdn.net/v/t31.18172-8/24131875_1798693800154231_6659463225638876391_o.png?_nc_cat=104&ccb=1-7&_nc_sid=300f58&_nc_ohc=t0u5LxKachkAX-GCLZk&_nc_ht=scontent.fbep2-1.fna&oh=00_AfCeEdTGChMYfrli8olMjYubPvl2ZK3GlTTXx-3Ranh4DQ&oe=6558B622"
                    alt="Airtel SIM" class="card-image">
            </a>
        </div>
    </div>
</div>

<div id="contact" class="contact-form">
    <h2>Contact Us</h2>
    <form action="/submit" method="post">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
      </div>
      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
  