<head>
    <title>Invoice</title>
</head>

<body>
    <div class="invoice">
        <h1>Invoice</h1>

        <div class="invoice-details">
            <label>Order ID:</label>
            <span>{{ rechargeOrderID }}</span>
        </div>

        <div class="invoice-details">
            <label>Order Status:</label>
            <span>{{ rechargedSimInfo?.orderStatus }}</span>
        </div>

        <div class="invoice-details">
            <label>Mobile Number:</label>
            <span>{{ rechargedSimInfo?.mobileNumber }}</span>
        </div>

        <div class="invoice-details">
            <label>Operator:</label>
            <span>{{ rechargedSimInfo?.operator }}</span>
        </div>

        <div class="invoice-details">
            <label>Operator Circle:</label>
            <span>{{ rechargedSimInfo?.operatorCirle }}</span>
        </div>

        <div class="invoice-details">
            <label>Validity:</label>
            <span>{{ rechargedSimInfo?.validity }}</span>
        </div>

        <div class="invoice-details">
            <label>Details:</label>
            <span>{{ rechargedSimInfo?.details }}</span>
        </div>

        <div class="invoice-details">
            <label>Order requested at:</label>
            <span>{{ rechargedSimInfo?.orderTime| date: 'medium' }}</span>
        </div>

        <div class="invoice-details">
            <label> Amount:</label>
            <span>{{ rechargedSimInfo?.finalAmount }}</span>
        </div>

        <div class="invoice-details">
            <label> Paid Through:</label>
            <span>{{ rechargedSimInfo?.paidVia }}</span>
        </div>

        <div class="invoice-details">
            <label> Payment Details:</label>
            <span>{{ rechargedSimInfo?.paymentInfo }}</span>
        </div>


    </div>
</body>